.status {
  display: flex;
  flex-direction: column;
  background: #0a0f1c;
  border: 1px solid #00eaff;
  border-radius: 8px;
  box-shadow: 0 0 15px #00eaff33;

  align-items: flex-start;  
  text-align: left;
  padding: 10px;
  font-family: monospace;
  color: #00eaff;
  overflow-y: auto;
}

.terminalContent p {
  margin: 2px 0;
  line-height: 1.4;
  text-shadow: 0 0 2px #00eaff66;
  font-size: 14px;
}

.terminalCursor {
  display: inline-block;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}